.actions {
  display: flex;
  padding: 0;
  margin: 0;
  outline: 1px solid tomato;
  list-style: none;
}

/* .actions .icon-edit {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-image: url(../images/edit.svg);
  cursor: pointer;
}

.actions .icon-star {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-image: url(../images/star.svg);
  cursor: pointer;
} */
